<section class="pt-20 p-4">
  <div class="flex flex-row flex-wrap flex-auto">
    <Cards::Details @book={{@model.book}} />
    <div class="flex flex-col flex-1 pl-4 pr-4 mt-16">
      <div class="flex flex-wrap flex-row mt-2.5 pl-2">
        <h2 class="text-3xl mb-1">{{@model.book.title}}</h2>
        <div class="flex flex-wrap">
          {{#each @model.book.authors as |a|}}
            {{! template-lint-disable no-invalid-interactive }}
            <span
              class="underline authors text-white hover:text-amber-500 cursor-pointer m-2"
              {{on "click" (fn this.gotoAuthor a)}}
            >{{a}}</span>
          {{/each}}
        </div>
      </div>
      <div class="flex relative flex-row mt-2 flex-wrap w-full flex-1">
        <div class="flex flex-col p-2 m-2 my-10 flex-1">
          <p class="text-justify description font-thin">{{this.description}}
            {{! template-lint-disable no-invalid-interactive }}
            <span class="hover:text-red-300 cursor-pointer" {{on "click" this.toggleDescription}}>
              {{if this.showMore "...Voir moins" "...Voir plus"}}
            </span>
          </p>
          <div class="flex flex-row justify-between mt-6 pb-6">
            <p>isbn13: {{@model.book.isbn13}}</p>
            <p>édition: {{@model.book.publisher}}</p>
          </div>
          <div class="mt-4 flex flex-row flex-wrap">
            {{#each @model.book.categories as |c|}}
              <span
                class="bg-yellow-100/80 text-yellow-900 text-xs font-extrabold me-2 ms-2 px-3 py-1 mb-2 rounded border border-yellow-400 hover:bg-yellow-200 cursor-pointer"
                {{on "click" (fn this.gotoGenre c)}}
              >{{c}}</span>
            {{/each}}
          </div>
        </div>
        <div class="flex flex-col p-3">
          {{#if this.session.isAuthenticated}} 
            <BookActions @book={{@model.book}}/>
            {{else}}
            <div class="flex flex-col max-w-64 h-[4em] m-8 bg-[#664436]/70 border border-[#614032]/70 rounded">
              <p class="flex-1 p-1 text-[11px] text-white/70 h-[2em] text-center cursor-pointer hover:text-white" {{on 'click' this.openModal}}>Connectez ou inscrivez-vous pour intéragir</p>
              <hr class="bg-amber-600/40">
              <p class=" flex-1 p-1 text-[11px] text-white/70 h-[2em] text-center cursor-pointer hover:text-white">Partager</p>
            </div>
          {{/if}}
        <Rate />
        </div>
      </div>
      <div class="flex flex-col {{if this.authorBooks.length '' 'hidden'}}">
        <h2 class="text-lg text-center mb-6">Du même auteur</h2>
        <div class="flex flex-row justify-center flex-wrap m-2">
          {{#each this.authorBooks as |book|}}
            <Cards::Base @book={{book}} @addStyle="max-w-40 h-40" />
          {{/each}}
        </div>
      </div>
      <div class="flex flex-col {{if this.genreBooks.length '' 'hidden'}}">
        <h2 class="text-lg text-center mb-6">Vous pourriez aimer : </h2>
        <div class="flex flex-row justify-center flex-wrap m-6">
          {{#each this.genresBooks as |book|}}
            <Cards::Base @book={{book}} @addStyle="max-w-32 h-32" />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <Modals::Register @onClose={{this.onClose}} @isOpen={{this.isOpen}} @users={{@model.users}}/>
</section>