
{{!-- template-lint-disable no-invalid-interactive --}}
<div class="{{this.direction}} relative rounded-lg flex flex-col" {{on 'mouseleave' (fn this.setHover false)}} {{on 'mouseover' (fn this.setHover true)}}>
    {{#if (eq this.currentUser.user.id @message.sender.id)}}
        <div class="w-full flex justify-end absolute">
            <div class="flex flex-row bg-white/20 justify-items-end max-w-16 rounded my-1 {{if this.optionsVisible 'visible' 'invisible'}}">
            <button type="button" title="modifier" {{on 'click' @update}}>
                <img src="/assets/icons/modify.svg" alt="modifier le message" class="h-7 w-7 p-1">
            </button>
            <button type="button" title="supprimer" {{on 'click' @delete}}>
                <img src="/assets/icons/delete.svg" alt="supprimer le message" class="h-7 w-7 p-1">
            </button>
            </div>
        </div>
    {{/if}}
    <div class="flex flex-row relative right-6 justify-end" >
        {{#unless this.isCurrentUser }}
            <Users::Base @size="min-h-[2.2em] min-w-[2.2em]" @picture={{if @message.sender.profilePicture @message.sender.profilePicture "[url('/assets/icons/user.svg')]"}} @clickEvent={{fn this.goToProfile @message.sender.username}}/>
        {{/unless}}
        <div class="relative ml-3 text-sm {{if this.isCurrentUser  'bg-[#4f704e]' 'bg-[#ba8b65]'}} px-4 shadow rounded-lg right-4">
            <div  class="p-1">{{@message.content}}</div>
        </div>
    </div>

</div>