<nav class="{{if this.isIndex 'bg-transparent' ' bg-background'}} z-10 absolute top-0 w-full md:pl-0 md:p-0">
  <div class="max-w-screen-xl flex flex-wrap justify-between mx-auto py-2 px-2 items-center">
    {{!-- template-lint-disable no-invalid-interactive --}}
    <img src="/assets/images/{{if this.isIndex 'bookpals' 'alternative'}}-logo.png" class="h-1/5 w-1/5 md:h-2/5 md:2/5" alt="bookPals" {{on 'click' this.backHome}}/>
    
    <div class="flex md:order-2">
      <div class="relative hidden md:block" id="search-n">
        <input type="search" id="input-search"  {{on 'keyup' this.search}}>
        <div class="absolute inset-y-0 flex items-center ps-36 pointer-events-none">
          <svg class="w-4 h-4 text-white/60 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
      </div>
      <button type="button" data-collapse-toggle="search-navbar" aria-controls="navbar-search" aria-expanded="false" class="md:hidden hover:bg-background/75 text-sm p-2 me-1 focus:outline-none focus:ring-2 focus:ring-background">
        <svg class="w-5 h-5 {{if this.isIndex "text-background" " text-amber-100/80"}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </button>
      <button data-collapse-toggle="navbar-search" type="button" id="toggle-menu" class="inline-flex items-center p-1.5 w-10 h-10 justify-center md:hidden hover:bg-background/75 focus:outline-none focus:ring-2 focus:ring-background" aria-controls="navbar-search" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5 {{if this.isIndex "text-background" " text-amber-100/80"}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    {{#if this.showLogin}}
      <Forms::Login @closeLogin={{this.closeLogin}}/>
      {{else}}
        <Header::Nav @openLogin={{this.openLogin}} @openModal={{this.openModal}}/>
    {{/if}}
  </div>
  <Modals::Register
  @users={{@model}}
  @isOpen={{this.isOpenModal}}
  @onClose={{this.onCloseModal}}
  />
</nav>
