<div class="flex flex-row">
    <div class="flex flex-col m-2 bg-[#401c16]">
        {{#each @conversations as |c|}}
            <Conversations @conversation={{c}} @isActive={{fn this.isActive c.id}} @lastMessage={{fn this.returnLastMessage c.id}} @selectConversation={{this.selectedConversation}}/>
        {{/each}}
    </div>
    <div class="flex flex-col flex-1">
        
        <form class="flex flex-row justify-between" {{on 'submit' this.sendMessage}}>
            {{!-- template-lint-disable require-input-label --}}
            <input type="text"{{on "input" this.updateMessageContent}} value={{this.newMessageContent}} />
            <button type="submit">
                <img class=" h-4 w-4" src="/assets/icons/modify.svg" alt="envoyer le message">
            </button>
        </form>
    </div>
</div>