<div class="bg-background min-w-96 min-h-96">
  <div class="background_image bg-blend-multiply">
  </div>
  <div class="linear-fade z-0"></div>
  <div class="absolute m-auto left-0 right-0 -mt-12 mb-12 p-5">
    <h2 class="text-center font-['Vogue']">Bienvenue sur bookPals</h2>
    <p class="text-center text-base h-10 mb-96 font-[Allerta]">Votre communauté favorite de lecteurs</p>
  </div>
  <section class="mt-30 mx-4 p-20 flex flex-col items-center">
    {{#if this.session.isAuthenticated}}
      <h3 class=" justify-start">Récemment notés : </h3>
      <div class="flex flex-row justify-center flex-wrap m-6">
        {{#each this.recentRatings as |r|}}
          <div class=" flex flex-col m-3">
            <Cards::Base @book={{r.book}} @addStyle="w-[9em] h-[14em]"/>
            <div class="flex flex-row justify-center">
              <Users::Base @picture={{if @user.profilePicture @user.profilePicture "[url('/assets/icons/user.svg')]"}} @size="h-5 w-5" @clickEvent={{fn this.goToUser r.user.username}}/>
              <p class="py-2">{{r.user.username}}</p>
              <div class="flex flex-row py-2.5">
              {{#each (range 0 r.value)}}
                <Stars::Icons/>
              {{/each}}
            </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <h3 class="mt-20">Sur BookPals, vous pouvez...</h3>
      <About/>
    {{/if}}
    {{!-- {{#if this.session.isAuthenticated}}
        <h3 class="text-center">Les derniers commentaires : </h3>
        <div class="grid grid-cols-2 gap-5">
            {{#each this.newComments as |c|}}
              <Comments @comment={{c}}/>
            {{/each}}
        </div>
    {{/if}} --}}
  </section>

  <section class="flex flex-col flex-wrap justify-center m-6">
    <h3 class="text-center">En ce moment...</h3>
    <div class="flex flex-row justify-center flex-wrap m-6">
      {{#each this.topBooks as |book|}}
        <Cards::Base @book={{book}} @addStyle="max-w-52 h-52" />
      {{/each}}
    </div>
  </section>
  <section class="flex flex-col flex-wrap justify-center m-6">
    <h3 class="text-center">Nos coups de coeur de la semaine</h3>
    <div class="flex flex-row justify-center flex-wrap m-3">
      {{#each this.weekChoices as |book|}}
        <Cards::Base @book={{book}} @addStyle="max-w-32 h-32" />
      {{/each}}
    </div>
  </section>
  <section id="toplists">

  </section>
</div>